.jumbotron {
    padding: 6rem 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('./assets/jumbo.jpg');
    background-attachment: fixed;
    background-position: center;
  }
.jumbotron-services {
    padding: 8rem 1rem;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url('./assets/Services.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    border-radius: .3rem;
  }

