@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Open+Sans:wght@400&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.jumbotron p {
  font-size: 1.2rem;
}
#jumbotron-home {
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/Jumbo_image.jpeg");
  background-position: center;
  background-size: cover;
}
#jumbotron-services {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/customer_service.jpg");
  background-position: center;
  background-size: cover;
}

#jumbotron-contact {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./assets/contact_us.jpg");
  background-position: center;
  background-size: cover;
}

.contact-links {
  font-size: 2rem;
  color: #452eab;
}
.contact-links:hover {
  color: #cd51fc;
}
a {
  text-decoration: none !important;
}
.stars {
  color: burlywood;
}
.svg {
  max-width: 10rem !important;
  max-height: 7rem !important;
}

.card-body button {
  color: #f78774 !important;
  background-color: #1b067a !important;
}
.card-body button:hover {
  color: black !important;
  background-color: #b6a7f9 !important;
}

.card-img-top {
  max-width: 100%;
  height: auto;
}
.card {
  max-width: 600px;
}
.carousel {
  max-width: 500px;
}

@media only screen and (max-width: 766px) {
  .jumbotron {
    max-height: 500px;
  }
  .jumbotron p {
    font-size: 1rem;
  }
}
